:root {
    --primary-color: #f75394;
    --primary-color-focused: #e3256b;
    --secondary-color: #fdd7e4;
    --secondary-color-focused: #de5d83;
}

.input {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-primary {
    border-color: var(--primary-color);
}

.input-secondary {
    border-color: var(--secondary-color);
}

.input-small {
    padding: 6px 10px;
    font-size: 12px;
}

.input-large {
    padding: 10px 14px;
    font-size: 16px;
}

.input-primary:focus-visible {
    outline: 2px solid var(--primary-color-focused);
}

.input-secondary:focus-visible {
    outline: 2px solid var(--secondary-color-focused);
}

.label {
    display: block;
    margin-bottom: 4px;
}

.input::placeholder {
    color: #ccc;
}

.input-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.inputs{
    display: flex;
    gap: 5px;
}